{% extends 'base.html' %}
{% load static %}
{% block createpost_head %}
    <!-- Ableplaye -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'myapp/ableplayer/thirdparty/js.cookie.js' %}"></script>
    <!-- Ableplayer CSS -->
    <link rel="stylesheet" href="{% static 'myapp/ableplayer/build/ableplayer.min.css' %}" type="text/css"/>




    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="https://www.google.com/jsapi">
    </script>
    <script type="text/javascript">

      // Load the Google Transliterate API
      google.load("elements", "1", {
            packages: "transliteration"
          });

      function onLoad() {
        var options = {
            sourceLanguage:
                google.elements.transliteration.LanguageCode.ENGLISH,
            destinationLanguage:
                [google.elements.transliteration.LanguageCode.BENGALI],
            shortcutKey: 'ctrl+g',
            transliterationEnabled: true
        };

        // Create an instance on TransliterationControl with the required
        // options.
        var control =
            new google.elements.transliteration.TransliterationControl(options);

        // Enable transliteration in the textbox with id
        // 'transliterateTextarea'.
        control.makeTransliteratable(['transliterateTextarea']);
      }
      google.setOnLoadCallback(onLoad);
    </script>
{% endblock %}

{% block title %}Labeling Tool{% endblock %}
{% block contents %}

    <!-- Ableplayer JavaScript -->
    <script src="{% static 'myapp/ableplayer/build/ableplayer.min.js' %}"></script>

        <br><br>
        <div align="center" style="border-radius: 25px;">
            <audio id="audio1" data-skin="2020" data-start-time="10" data-steno-mode="true" playsinline data-able-player preload="auto" autoplay width="600px" data-seek-interval="5" loop>
            <source src="http://{{audiolink}}" type="audio/wav">
            </audio>
        </div>
        <br><br>
    <div align="center">
        <h3>Listen To The Audio and Transcribe Accordingly</h3>
    </div>
    <div align="center">
        <form action="" method="POST">
            {% csrf_token %}
            <br><br><h4>Transcripted Text:</h4>
            <textarea style="border-radius: 25px;" id="transliterateTextarea" cols="90" rows="8" name="text_update" style="font-size: 18pt" value=  '{% if submitbutton == "Submit" %}{{text_update}}{% endif %}' >{% if text_output %} {{text_output}}{% endif %}</textarea><br><br>     
            <div align="center">
                <button align="left" type="Submit" style="font-size : 100%; width: 20%; height: 60%;" name="Submission_Cancelled" class="btn btn-danger btn-lg">Cancel Submission</button>
                <button align="right" type="Submit" style="font-size : 100%; width: 20%; height: 60%;" id="submitbut" name="Submitted" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
    <div align="center">
          {% if submitbutton == "Submit" %} 
          <br><h3>{{text_update}} has been stored on the Database !!</h3><br>
          {% endif %}
    </div>


{% endblock %}