{% extends 'base.html' %}
{% load static %}

{% block List_head %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



<style>
  body {
    background: #04f3c7;
    background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
    background: linear-gradient(to right, #9db4b0, rgb(81, 112, 112));
    min-height: 100vh;

}
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
    ul.pagination li {display: inline;}
    
    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
    
    ul.pagination li a.active {
        background-color: #4CAF50;
        color: white;
    }
    
    ul.pagination li a:hover:not(.active) {background-color: #ddd;}


    
    table {
      table-layout: fixed;
      border-radius: 35px;
    }

    td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    </style>
    

    {% endblock %}





{% block title %}Audio List{% endblock %}
{% comment%}
{% block reload %}
<script language="javascript">
        setInterval(function(){
        window.location.reload(1);
        }, 30000);
</script>
{% endblock %}
{% endcomment %}

{% block list %}

<br><br>
    {% if all_items %}
    <div class="container">
                <table class="table table-striped table-dark table-hover" style="background:linear-gradient(to right, #5f706d, rgb(30, 54, 54));">
                  <thead class="thead-light">
                    <tr>
                      <th style="width: 20%; text-align: center;">ID</th>
                      <th style="width: 60%; text-align: center;">TEXT</th>
                      <th style="width: 20%; text-align: center;">Pick One</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for things in all_items %}
                      {% if not user.get_username in things.Transcribers_Checked %}
                        {% if things.Trans_Counter < test_counter %}
                          {% if things.IsOpenFlag == True %}
                            <tr class="table-danger text-dark">
                              <td style="text-align: center;">{{things.ASRid}}</td>
                              <td>{{things.Transcripted_Text}}</td>
                              <td style="text-align: center;"><button type="button" style="font-size : 70%; width: 100%; height: 40px;" class="btn btn-danger">In Progress</button></td>
                            </tr>
                          {% elif things.IsOpenFlag == False %}
                            <tr>
                              <td style="text-align: center;">{{things.ASRid}}</td>
                              <td>{{ things.Transcripted_Text }}</td>
                              <td style="text-align: center;"><a href="{% url 'transcribe' things.ASRid %}"><button type="button" style="font-size : 100%; width: 100%; height: 30%;" class="btn btn-primary">Transcribe</button></a></td>
                            </tr>
                          {% endif %}
                        {% endif %}
                      {% endif %}  
                    {% endfor %}
                  </tbody>
                </table>
              </div>
                <div class="container" align="center" style="background: linear-gradient(to right, #08e6c1, rgb(75, 151, 151));border-radius: 35px;">
                {% if all_items.has_other_pages %}
                <ul class="pagination">
                    {% if all_items.has_previous %}
                      <li><a href="?page={{ all_items.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in all_items.paginator.page_range %}
                      {% if all_items.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if all_items.has_next %}
                      <li><a href="?page={{ all_items.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
                </div><br>
    {% endif %}
{% endblock %}

